menu "M5Unit enable"
    config SOFTWARE_UNIT_ENV2_SUPPORT
        bool "UNIT-ENV2-Hardware"
        default n
    config SOFTWARE_UNIT_SK6812_SUPPORT
        bool "UNIT-SK6812-Hardware"
        default n
    config SOFTWARE_UNIT_BUTTON_SUPPORT
        bool "UNIT-BUTTON-Hardware"
        default n
    config SOFTWARE_UNIT_LED_SUPPORT
        bool "UNIT-LED-Hardware"
        default n
    config SOFTWARE_UNIT_4DIGIT_DISPLAY_SUPPORT
        bool "UNIT-4DigitDisplay"
        default n
    config SOFTWARE_UNIT_6DIGIT_DISPLAY_SUPPORT
        bool "UNIT-6DigitDisplay"
        default n
    config SOFTWARE_I2C_LCD_ST7032_SUPPORT
        bool "I2C-LCD-ST7032-Hardware"
        default n
    choice
        prompt "Set Model"
        depends on SOFTWARE_I2C_LCD_ST7032_SUPPORT
        default SOFTWARE_MODEL_AQM0802
        config SOFTWARE_MODEL_AQM0802
            bool "MODEL-AQM0802"
        config SOFTWARE_MODEL_AQM1602
            bool "MODEL-AQM1602"
    endchoice
    choice
        prompt "Use Backlight"
        depends on SOFTWARE_I2C_LCD_ST7032_SUPPORT
        default SOFTWARE_NOT_USE_BACKLIGHT
        config SOFTWARE_USE_BACKLIGHT
            bool "USE-BACKLIGHT"
        config SOFTWARE_NOT_USE_BACKLIGHT
            bool "NOT-USE-BACKLIGHT"
    endchoice
endmenu
