menu "My Original (SEEED XIAO)"

    config WIFI_SSID
        string "WiFi SSID"
        default "AWSWorkshop"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "IoTP$AK1t"
        help
            WiFi password (WPA or WPA2) for the example to use.

            Can be left blank if the network has no security set.

endmenu

menu "Seeed XIAO hardware enable"
    choice
        prompt "Set Model"
        default SOFTWARE_MODEL_SEEED_XIAO_ESP32C3
        config SOFTWARE_MODEL_SEEED_XIAO_ESP32C3
            bool "MODEL-Seeed XIAO ESP32C3"
        config SOFTWARE_MODEL_SEEED_XIAO_RP2040
            bool "MODEL-Seeed XIAO RP2040"
    endchoice
    config SOFTWARE_EXPANSION_BOARD_SUPPORT
        bool "Expansion Board"
        default n
    config SOFTWARE_GROVE_SHIELD_SUPPORT
        bool "Grove Shield"
        default n
    config SOFTWARE_BUZZER_SUPPORT
        bool "BUZZER-Hardware"
        default n
    config SOFTWARE_BUTTON_SUPPORT
        bool "BUTTON-Hardware"
        default n
    config SOFTWARE_SSD1306_SUPPORT
        bool "I2C-UNIT-Display(SSD1306/SSD1315)"
        default n
        help
            TODO: LVGL configuration
    config SOFTWARE_RTC_SUPPORT
        bool "I2C-UNIT-RTC(BM8563)"
        default n
    config SOFTWARE_EXTERNAL_LED_SUPPORT
        bool "IO-UNIT-EXTERNAL-LED"
        default n
endmenu
